<h1> <%=@chart.name%> </h1>
</br>

<%= link_to 'Edit Chart', edit_chart_path(@chart) %>
</br>

<%= link_to 'Delete Chart', @chart, method: :delete %>
</br>

<%= link_to 'View Artists', chart_artists_path(@chart) %>
